
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Cont
ent-Type" />
    <title>A web server</title>
    <meta name="description" content="undefined" />
    <meta name="author" content="undefined" />
    <link rel="stylesheet" type="text/css" href="/home/admin/es2015/cheerio-mobi-ts15/undefined" />
  </head>
   <body>
<body><p>
Let&apos;s finish with a complete Go program, a web server.
This one is actually a kind of web re-server.
Google provides a service at <code>chart.apis.google.com</code>
that does automatic formatting of data into charts and graphs.
It&apos;s hard to use interactively, though,
because you need to put the data into the URL as a query.
The program here provides a nicer interface to one form of data: given a short piece of text,
it calls on the chart server to produce a QR code, a matrix of boxes that encode the
text.
That image can be grabbed with your cell phone&apos;s camera and interpreted as,
for instance, a URL, saving you typing the URL into the phone&apos;s tiny keyboard.
</p><p>
Here&apos;s the complete program.
An explanation follows.
</p><pre>{{code &quot;/doc/progs/eff_qr.go&quot; `/package/` &quot;$&quot;}}
package main
import (
    &quot;flag&quot;
    &quot;html/template&quot;
    &quot;log&quot;
    &quot;net/http&quot;
)
var addr = flag.String(&quot;addr&quot;, &quot;:1718&quot;, &quot;http service address&quot;) <span>// Q=17, R=18</span>
var templ = template.Must(template.New(&quot;qr&quot;).Parse(templateStr))
func main() {
    flag.Parse()
    http.Handle(&quot;/&quot;, http.HandlerFunc(QR))
    err := http.ListenAndServe(*addr, nil)
    if err != nil {
        log.Fatal(&quot;ListenAndServe:&quot;, err)
    }
}
func QR(w http.ResponseWriter, req *http.Request) {
    templ.Execute(w, req.FormValue(&quot;s&quot;))
}
const templateStr = `
<html>
<head>
<title>QR Link Generator</title>
</head>
<body>
{{if .}}
<img src="/home/admin/es2015/cheerio-mobi-ts15/content/effective_go/processed_images/chart?chs=300x300&amp;cht=qr&amp;choe=UTF-8&amp;chl={{-grayscale.gif">
<br>
{{.}}
<br>
<br>
{{end}}
<form action="/" name="f" method="GET"><input maxlength="1024" size="70" name="s" value title="Text to QR Encode"><input type="submit" value="Show QR" name="qr">
</form>
</body>
</html>
`</pre><p>
The pieces up to <code>main</code> should be easy to follow.
The one flag sets a default HTTP port for our server.  The template
variable <code>templ</code> is where the fun happens. It builds an HTML template
that will be executed by the server to display the page; more about
that in a moment.
</p><p>
The <code>main</code> function parses the flags and, using the mechanism
we talked about above, binds the function <code>QR</code> to the root path
for the server.  Then <code>http.ListenAndServe</code> is called to start the
server; it blocks while the server runs.
</p><p>
<code>QR</code> just receives the request, which contains form data, and
executes the template on the data in the form value named <code>s</code>.
</p><p>
The template package <code>html/template</code> is powerful;
this program just touches on its capabilities.
In essence, it rewrites a piece of HTML text on the fly by substituting elements derived
from data items passed to <code>templ.Execute</code>, in this case the
form value.
Within the template text (<code>templateStr</code>),
double-brace-delimited pieces denote template actions.
The piece from <code>{{if .}}</code>
to <code>{{end}}</code> executes only if the value of the current data item, called <code>.</code> (dot),
is non-empty.
That is, when the string is empty, this piece of the template is suppressed.
</p><p>
The two snippets <code>{{.}}</code> say to show the data presented to
the template&#x2014;the query string&#x2014;on the web page.
The HTML template package automatically provides appropriate escaping so the
text is safe to display.
</p><p>
The rest of the template string is just the HTML to show when the page loads.
If this is too quick an explanation, see the [<a>documentation</a>]
for the template package for a more thorough discussion.
</p><p>
And there you have it: a useful web server in a few lines of code plus some
data-driven HTML text.
Go is powerful enough to make a lot happen in a few lines.
</p></body>
</body>
</html>